header, .header__navbar__list
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

header
{
    width: calc(100% - 200px);
    margin: 25px 100px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.header__image
{
    width: 200px;
    height: 60px;
}

.header__navbar
{
    width: 50%;
}

.header__navbar__list
{
    list-style: none;
    justify-content: right;
}

.header__navbar__list__item
{
    width: auto;
    margin-left: 4em;
    text-align: right;
    font-size: 24px;
}

.header__navbar__list__item__link
{
    text-decoration: none;
    color: #FF6060;
}

.active
{
    text-decoration: underline;
}