/*
 small: 576px,
  medium: 768px,
  large: 992px,
  xlarge: 1200px,
  xxlarge: 1400px,
  ultrawide: 2560px
*/

/* ---- Responsive ---- */
@media (max-width: 1200px) 
{
    .header__navbar__list__item
    {
        margin-left: 2em;
    }
}

@media (max-width: 992px) 
{
    .header__navbar
    {
        width: auto;
    }
}

@media (max-width: 768px) 
{
    header
    {
        width: calc(100% - 40px);
        margin: 20px;
    }

    .header__navbar, .header__navbar__list
    {
        width: 100%;
    }

    .header__navbar__list__item:not(:last-child)
    {
        margin: 0;
    }  
}

@media (max-width: 576px) 
{
    .header__image
    {
        width: 100px;
        height: 30px;
    }

    .header__navbar__list__item
    {
        font-size: 12px;
        text-transform: uppercase;
    }
}